/* CSS styles */

body {
    margin: 0;
    font-family: sans-serif;
    color: darkblue;
}

/* Header styles */
.header {
    display: flex;
    align-items: end;
}

.header h1 {
    display: inline-block;
    margin-left: 20px;
    font-size: 48px;
    font-family: 'Verdana', 'sans-serif';
    margin-bottom: 3px;
}

.header nav {
    margin-left: auto;
    margin-right: 20px;
    font-family: 'Segoe UI', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Hero section styles */
.hero {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
    /* margin-bottom: 25px; */
    background-size: cover;
    background-position: center;
    text-align: right;
    color: white; 
    background-image: url("../images/software_development.jpg");
}

.hero h1 {
    font-size: 48px;
    font-family: 'Verdana', 'sans-serif';
    display: inline-block;
    margin-bottom: 10px;
}

.hero h1, 
.hero p {
    margin-right: 20px;
}

.hero .subtitle1 {
    font-size: 24px;
    margin-right: 110px;
    margin-bottom: 1px;
}

.hero .subtitle2 {
    font-size: 24px;
    margin-right: 80px;
}

.profilePic {
    height: 200px;
    width: 150px;
    padding: 20px;
    background-color: white;
    border: 1px solid white;
    margin: 20px 20px 20px 75%;
}


/* styles for About, Resume, and Contact Me in the middle section of the page*/
.middle-content {
    display: flex;
    margin: 20px;
}

#About-me {
    border: 5px solid darkblue;
    border-radius: 25px;
    padding: 10px;
    max-width: 90%;
    background: linear-gradient(to right, lavender,lightblue);
}

.About-me-header {
    text-align: center;
    font-size: 24px;
}


.left-side-of-page {
    display: inline-block;
}


/* right-side-sidebar (aside) styles */
.right-side-sidebar {
    display: inline-block;
    margin-right: 20px;
    padding: 20px;
    clear: both;
    /* float: right; */
    max-width: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to right, lavender,lightblue);
    border: 5px solid darkblue;
    border-radius: 25px;
    padding: 10px;
    margin: 2px;
}

#Resume {
    background-color: darkblue;
    color: white;
    border-radius: 25px;
    padding: 15px;
    margin: 10px;
}

#Resume a {
    color: white;
}

#Contact-me {
    background-color: darkblue;
    color: white;
    height: 200px;
    border: 5px solid darkblue;
    border-radius: 25px;
    padding: 15px;
    margin: 10px;
}

#Contact-me a {
    color: white;
}

/* styles for my 3 Projects in the lower section of the page*/
#projects {
    display: flex;
    background: linear-gradient(to right, lavender,lightblue);
    border: 5px solid darkblue;
    border-radius: 25px;
    max-width: 100%;
    padding: 10px;
    margin: 20px;
}


.JAKD-Movie-App img {
    height: auto;
    width: 90%; 
}


.JAKD-Movie-App  {
    border: 5px solid darkblue;
    border-radius: 25px;
    padding: 15px 30px;
    margin: 30px 20px;
    border-style: dashed;
    font-size: 20px;
    width: 50%;
    height: auto;

}

.Horiseon-project,
.Pwd-generator  {
    border: 5px solid darkblue;
    border-radius: 25px;
    padding: 15px 20px;
    margin: 30px 20px;
    border-style: dashed;
    font-size: 20px;
    height: 300px;
    max-width: 25%;
}

.Horiseon-project img,
.Pwd-generator img {
    height: 45%;
    width: 90%; 
}

/* Footer styles */
footer {
    display: flex;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, lavender,lightblue);
}

 footer h3 {
    margin-right: 10px;
    font-size: 36px;
    font-family: impact;
} 


/* Responsive screen sizing */
/* Tablets  */
@media screen and (max-width: 992px) {
    header {
      background:white;
    }
  }
  
/* smartphones  */
@media screen and (max-width: 768px) {
    nav {
      background-color: white;
    }
  }
  
  
  
