/* add styles here */

body {
    margin: 0;
    font-family: sans-serif;
}

.header {
    display: flex;
    align-items: end;
}

.header h1 {
    display: inline-block;
    margin-left: 20px;
    font-size: 48px;
    font-family: 'Verdana', 'sans-serif';
    margin-bottom: 3px;
}

.header nav {
    margin-left: auto;
    margin-right: 20px;
    font-family: 'Segoe UI', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.hero {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
    /* margin-bottom: 25px; */
    background-size: cover;
    background-position: center;
    text-align: right;
    color: white; 
    background-image: url("../images/software_development.jpg");
}

.hero h1 {
    font-size: 48px;
    font-family: 'Verdana', 'sans-serif';
    display: inline-block;
    margin-bottom: 10px;
}

.hero h1, 
.hero p {
    margin-right: 20px;
}

.hero .subtitle1 {
    font-size: 24px;
    margin-right: 110px;
    margin-bottom: 1px;
}

.hero .subtitle2 {
    font-size: 24px;
    margin-right: 80px;
}

.profilePic {
    height: 200px;
    width: 150px;
    padding: 20px;
    background-color: white;
    border: 1px solid white;
    margin: 20px 20px 20px 75%;
}


#About-me {
    border: 5px solid darkblue;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    max-width: 60%;
    /* background-color: lightblue; */
    background: linear-gradient(to right, lavender,lightblue);
}

.About-me-header {
    text-align: center;
    font-size: 24px;
}


#projects {
    background-color: lightgoldenrodyellow;
    border: 5px solid darkblue;
    border-radius: 25px;
    max-width: 60%;
    height: 800px;
    padding: 10px;
    margin: 10px;
}

.Horiseon-project img {
    height: 300px;
    width: 600px; 
}

.CSS-Snippet-Cheatsheet,
.Horiseon-project {
    border: 5px solid darkblue;
    border-radius: 25px;
    padding: 10px;
    margin: 30px 20px;
    border-style: dashed;
    font-size: 20px;
}

.CSS-Snippet-Cheatsheet {
    max-width: 35%;
}

.CSS-Snippet-Cheatsheet img {
    height: 150px;
    width: 300px; 
}



.left-side-of-page {
    display: inline-block;
}


/* Sidebar (aside) styles */
.sidebar {
    display: inline-block;
    margin-right: 20px;
    padding: 20px;
    clear: both;
    /* float: right; */
    width: 30%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:lightblue;
    border: 5px solid darkblue;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

#Resume {
    background-color: rgb(199, 239, 199);
    border: 5px solid darkblue;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

#Contact-me {
    background-color: rgb(250, 213, 219);
    height: 600px;
    border: 5px solid darkblue;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}


/* Footer styles */
footer {
    display: flex;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    background-color: rgb(222, 200, 242);
}

 footer h3 {
    margin-right: 10px;
} 


/* Responsive screen sizing */

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    header {
      background: #772014;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    nav {
      background-color: #bb8588;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .sample-img {
      background-color: purple;
    }
  }
  
